archetypes.xml
biomes.xml
blocks.xml
buffs.xml
entityclasses.xml
entitygroups.xml
gamestages.xml
items.xml
Localization - Quest.txt
Localization.txt
loot.xml
materials.xml
misc.xml
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml
npc.xml
physicsbodies.xml
progression.xml
qualityinfo.xml
quests.xml
recipes.xml
rwgmixer.xml
sounds.xml
spawning.xml
traders.xml
vehicles.xml
weathersurvival.xml
XML.txt
